
<!-- <section class="lang-world-map">
  <div class="container">
    <div class="row">
      <div class="col-md-8"><img src="assets/img/world-map.png" class="world-map"></div>
      <div class="col-md-4">
        <ul>
          <li><a href="#br" class="br">Brasileiro</a></li>
          <li><a href="#cn" class="cn">中文</a></li>
          <li><a href="#cz" class="cz">Česká republika</a></li>
          <li><a href="#de" class="de">Deutsch</a></li>
          <li><a href="#ee" class="ee">Eesti</a></li>
          <li><a href="#en" class="en">English</a></li>
          <li><a href="#es" class="es">Español</a></li>
          <li><a href="#fr" class="fr">Français</a></li>
          <li><a href="#hu" class="hu">Magyar</a></li>
          <li><a href="#it" class="it">Italiano</a></li>
          <li><a href="#nl" class="nl">Nederlands</a></li>
          <li><a href="#pl" class="pl">Polski</a></li>
          <li><a href="#pt" class="pt">Português</a></li>
          <li><a href="#ru" class="ru">Pусский</a></li>
          <li><a href="#si" class="si">Slovenski</a></li>
          <li><a href="#ua" class="ua">Українська</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<nav><a id="langtrigger" class="langlink"><i></i></a></nav> -->
